header, body {
    font-family: sans-serif;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
}

#quiz-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 150px 10px 150px;
}

.button {
    background-color: darkblue;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 25px;
    border-radius: 10px;
}

.option-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: darkblue;
    color: white;
    height: 65px;
    width: 400px;
    font-size: 30px;
    border-radius: 10px;
    
}
